/* body is formatted as follows  */
body
{
	font-family: "Times New Roman", sans-serif, Century, "Arial Narrow";
	text-align: justify;
}

/* different headings formatted as follows  */
h1
{
	color: blue;
}

h2, h3, h4
{
	color : green;
}

/*class selector used to format text and color */
.center
{
	text-align: center;
	color : red;
}

/* id selector used to format #Definition and #Future*/
#Definition
{
	color : blue;
}

#Future
{
	color: purple;
}


